#!/bin/sh

# ------------------------ [START] required variables ------------------------ #
# EXAMPLES:
CLOUDSDK_PROJECT_NAME='my-gluster-project'
CLOUDSDK_CLUSTER_NAME='development'
CLOUDSDK_COMPUTE_REGION='us-east1'
# ------------------------- [END] required variables ------------------------- #

# ------------------------ [START] optional variables ------------------------ #
# will default to GKE's default at the time the script is run
CLUSTER_VERSION='1.16.15-gke.4901'

# must be greater than or equal to 3 total, which is NODE_COUNT * the number of
# zones in a region
NODE_COUNT='1'

# defaults to 'n1-standard-1'
MACHINE_TYPE='e2-small'

# NOTE: For building and pushing images, the script will use the defaults explained below.
# defaults to "gcr.io/$CLOUDSDK_PROJECT_NAME"
DOCKER_REGISTRY=''

# defaults to 20
DISK_SIZE='20'
DISK_TYPE='pd-ssd'

# used if you want to build your own image
# defaults to 'glusterfs-heketi-bootstrap'
DOCKER_IMAGE_NAME='glusterfs-heketi-bootstrap'

# defaults to '0.0.1'
DOCKER_IMAGE_VERSION='0.0.1'

# latest versions of heketi require an admin key or user key for authentication
HEKETI_KEYADMIN='adminkey'
HEKETI_KEYUSER='userkey'

GLUSTER_KUBERNETES_REPO='https://github.com/darren1713/gluster-kubernetes.git'

GLUSTER_IMAGE_NAME="gcr.io/$CLUSTER_NAME/gluster-centos:0.0.2"
# ------------------------- [END] optional variables ------------------------- #
